@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

* {
  font-family: "Google Sans", sans-serif;
}
.brand-red {
  color: #d72229;
}
.bg-brand-red {
  background-color: #d72229;
}
.border-brand-red {
  border-color: #d72229;
}
